*, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body {
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(0, 0, 61) 29%, rgb(0, 0, 64) 76%, rgb(1, 0, 37) 100%);
    font-family: 'Bebas Neue', cursive;
}

.container {
    @include format-container;
    grid-template: auto 1fr 60px/ 1fr;
    header {
        img {
            margin-top: 12px;
            transform: scale(0.9);
        }
    }
    main {
        @include formatMain;
        .generic-bttn {
            @include formatButton
        }
       .sound-icon {
           @include format-soundIcon;
           top: 170px;
       }
       #sound-off {filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(43deg) brightness(100%) contrast(104%);}
       form {
           display: flex;
           flex-direction: column;
           align-items: center;
           font-size: $defaultFont-size;

           label {
            margin-bottom: 15px;
            color: white;
           }
           input {padding: 10px;}
       }
    }
    main, 
    header{animation: phaseIn 2s;}
    footer {
        @include format-footer;
    }
}

@media (min-height: 1024px) {
    .container {
        main {form {transform: scale(1.8);}}
    }
}

@media (max-width: 800px) {
   .container {
       header {img {width: 500px;}}
        main {.sound-icon {top: 120px;}}
    }
}

@media (max-width: 750px) {
    .container {
        header {img {width: 350px;}}
        main {.sound-icon {top: 90px;}}
    }
}

@media (max-width: 600px){
    .container {
        footer {
            p {font-size: 13px;}
            img {width: 25px;}
        }
    }
}

@media(max-width: 320px) {
    .container {
        header {img {width: 300px;}}
        main {form {transform: scale(0.8);}}
        footer {
            p {font-size: 11px;}
            img {width: 20px;}
        }
    }
}

@media(max-width: 290px) {
    .container {
        header {img {width: 250px;}}
        main {.sound-icon {top: 80px;}}
    }
}

@keyframes phaseIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

    
