.container {
    header {
        .logo-game {
            width: 280px;
            margin-top: 10px;
        }
    }
    main {
        p, 
        .bttn-orientation,
        .gameboard {
            margin: 5px;
        }
        p {
            color: white;
            opacity: 0.9;
            font-size: 40px;
            margin-top: 20px;
        }
        .bttn-orientation {
            font-size: $defaultFont-size;
            padding: 8px;
            border: none;
            border-radius: 5px;
            cursor: $cursor-status;
            margin-bottom: 14px;
            &:hover {
                opacity: 0.9;
            }
        }
        .sound-icon-game {
            @include format-soundIcon;
            position: absolute;
            top: 23px;
            right: 60px;
        }
        .gameboard {
            display: grid;
            grid-template: repeat(10, 1fr)/repeat(10, 1fr);
            gap: 2px;
            width: 500px;
            height: 500px; 
            margin-bottom: 20px;
            cursor: $cursor-status;
            
            .ship-image {
                @include formatShip;
            }
            
            .carrier-x,
            .carrier-y {
                width: 250px;
                transform: scale(0.9);
            }
            .battleship-x,
            .battleship-y {
                width: 200px;
                width: 200px;
            }
            .destroyer-x,
            .destroyer-y {
                width: 145px;
                height: 100px;
            }
            .submarine-x,
            .submarine-y {
                width: 180px;
            }
            .patrol-x,
            .patrol-y {
                width: 100px;
                height: 50px;
            }
            .carrier-y,
            .battleship-y,
            .submarine-y,
            .destroyer-y {
                transform: rotate(90deg);
            }

            .carrier-x {
                left: 0;
                bottom: -5px;
            }
            .battleship-x {
                left: 0;
                top: -80px;
            }
            .submarine-x {
                left: -20px;
            }
            .destroyer-x {
                left: 0;
                bottom: -25px;
            }
            .patrol-x {
                left: 0;
                bottom: 1px;
                transform: scaleX(-1);
            }
            .carrier-y {
                left: -90px;
                top: 85px;
            }
            .battleship-y {
                left: -100px;
                top: -20px;
            }
            .submarine-y {
                left: -70px;
                top: 40px;
            }
            .destroyer-y {
                left: -48px;
                top: 25px;
            }
            .patrol-y {
                left: -25px;
                top: 20px;
                transform: scaleY(-1) rotate(90deg);
            }
            * {border: 1px solid white;}
        }
    }
}

@media (max-width: 540px) {
    .container {
        header {.logo-game {width: 180px;}}
        main {
            .sound-icon-game {
                width: 20px;
                right: 25px;
                top: 20px;
            }
            .gameboard {
                width: 300px;
                height: 300px;
                .carrier-x {
                    left: -50px;
                    top: -35px;
                    transform: scale(0.55);
                }
                .carrier-y {
                    transform: rotate(90deg) scale(0.55);
                    left: -105px;
                    top: 35px;
                }
                .battleship-x,
                .submarine-x,
                .destroyer-x {
                    transform: scale(0.62);
                }
                .battleship-y,
                .destroyer-y,
                .submarine-y {
                    transform: rotate(90deg) scale(0.62);
                }
                .battleship-x {
                    top: -100px;
                    left: -40px;
                }
                .battleship-y {
                    top: -65px;
                }
                .destroyer-x {
                    bottom: -35px;
                    left: -30px;
                }
                .destroyer-y {
                    left: -56px;
                    top: -6px;
                }
                .submarine-x {
                    bottom: -20px;
                    left: -50px;
                }
                .submarine-y {
                    left: -80px;
                    top: 10px;
                }
                .patrol-x {
                    transform: scaleX(-1) scale(0.62);
                    top: -14px;
                    left: -25px;
                }
                .patrol-y {
                    transform: scaleY(-1) rotate(90deg) scale(0.62);
                    left: -35px;
                    top: 3px;
                    
                }
            }
            p {font-size: 25px;}
        }
    }
}

@media (max-width: 290px) {
    .container {
        main {
            .sound-icon-game {right: 2px;}
            .bttn-orientation {font-size: 18px;}
            .gameboard {
                width: 270px;
                height: 270px;
            }
        }
    }
}