@import 'utilities',
        'introStyles',
        'placeShipStyles';

.container {
    .game-console {
        width: 70%;
        height: 55px;
        background-image: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(41, 41, 41) 29%, rgb(41, 41, 41) 76%, rgb(56, 56, 56) 100%);
        color: #DDDDDD;
        font-family: 'Special Elite', cursive;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        margin-top: 1rem;

        .console-text {
            overflow: hidden;
            font-size: 1.4rem;
            white-space: nowrap;
            width: 0;
            margin: 0;
            animation: typing 2s steps(60, end) forwards;
        }
    }
    .gameBoard-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .gb-subcontainer {
            p {margin-top: 0;}
            .gameboard {
                margin-bottom: 0;
                .shot-marker {
                    width: 15px;
                    border: none;
                }
            }
            margin: 1rem 1.6rem 1.6rem 1.6rem;
        }
    }
    .winning-message {
        font-size: 5rem;
        opacity: 0;
        animation: endMessage 1.5s ease-in forwards;
    }
}

@media (max-width: 1122px) {
    .container {
        .gameBoard-container {
            .gb-subcontainer:nth-child(2) {
                margin-top: 2.5rem;
            }
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 600px) {
    .container {
        .game-console {
            width: 90%;
            .console-text {
                font-size: 0.80rem;
                 animation: typing 1.3s steps(60, end) forwards;
            }
        }
        .gameBoard-container {
            .gb-subcontainer {
                .gameboard {
                .shot-marker {
                    width: 10px;
                }
            }
            }
        }
        .winning-message {font-size: 3rem;}
    }

}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes endMessage {
    from {opacity: 0;}
    to {opacity: 1;}
}

